$primary-bg-dark-1: #242424;
$secondary-bg-dark-1: #3a3939f8;
$accent-1: #00b4a0;
$contrast-light: #cccccc;
$contrast-dark: #181818;
$text-primary: #ffffff;
$success: #00a859;
$warning: #ffc107;
$error: #e71d36;
$disabled: #a0a0a0;
