$primary-bg-dark-1: #242424;
$secondary-bg-dark-1: #3a3939f8;
$accent-1: #00B4A0;
$contrast-light: #CCCCCC;
$contrast-dark: #181818;
$text-primary: #FFFFFF;
$success: #00A859;
$warning: #FFC107;
$error: #E71D36;
$disabled: #A0A0A0;