@import './globals';

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: dark;
	color: $text-primary;
	background-color: $secondary-bg-dark-1;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;

	user-select: none;
}

h1 {
	font-size: 3em;
	line-height: 1;
}

body {
	margin: 0;
}
