.custom-bullet {
	display: inline-block;
	width: 20px; /* Adjust the width as needed */
	text-align: center;
	margin-right: 5px; /* Adjust the spacing as needed */
	font-weight: bold;
}

.item {
	color: white;
}
