.message-item {
	display: flex;
	padding: 10px 5px;
	border-radius: 8px;
	margin-bottom: 8px;
	margin-left: 23px;
	width: calc(100% - 310px); /* Adjusted width */
	margin-left: auto; /* Pushes the messages to the right side of the screen */
	&:hover {
		background-color: #23272a;
	}
}

.message-content {
	display: flex;
	flex-direction: column;
	margin-left: 12px;
	flex-grow: 1;
	word-break: break-word;

	.message-username {
		font-weight: bold;
		color: white;
		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.message-body {
		color: white;
		margin-top: 4px;
	}
}

.message-avatar {
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 15px;
	margin-top: 5px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.message-timestamp {
	color: #888;
	font-size: 12px;
	text-align: right;
	align-self: flex-start; /* Align the timestamp to the top of its container */
}
